/*GENERALES*/

.lowercase {
    text-transform: lowercase;
}
.uppercase {
    text-transform: uppercase;
}
.primary-font {
    font-family: 'Raleway', sans-serif;
}
.secondary-font {
    font-family: 'Exo 2', sans-serif;
}
body {
    font-family: 'Raleway', sans-serif;
}
.hero {
    background-image: url(../img/hero.jpg);
    width: 100%;
    height: 95vh;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list-sm {
    display: none;
}
nav a {
    border-width: .5px;
    border-style: solid;
    border-color: #ebecf5;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    padding: 10px;
}
a:hover {
    color: black;
    background: #ededed;
    font-weight: 900;
}
nav {
    padding-left: 40px;
    background: black;
    position: fixed;
    top: 30px;
    width: auto;
    border-radius: 5px;
    margin-left: 80px;
    z-index: 10;
    -webkit-box-shadow: 3px 8px 21px -5px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 3px 8px 21px -5px rgba(0, 0, 0, 0.78);
    box-shadow: 3px 8px 21px -5px rgba(0, 0, 0, 0.78);
}
#nav-title {
    width: auto;
    color: white;
    font-family: 'Exo 2', sans-serif;
}
nav div {
    display: inline-block;
    padding-right: 40px;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 1rem;
    color: white;
    padding-top: 10px;
}
.nav-list {
    text-align: right;
    float: right;
    width: auto;
}
.user-picture-container {
    width: 60%;
}
.user-picture {
    background-image: url(../img/usuario.jpg);
    height: 350px;
    width: 350px;
    background-position: 75%;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    margin-top: 60px;
    -webkit-box-shadow: 7px 13px 28px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 13px 28px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 13px 28px 0px rgba(0, 0, 0, 0.75)
}
.user-picture:hover {
    height: 370px;
    width: 370px;
    border-width: 4px;
    border-style: solid;
    border-color: #34d183;
}
.user-info {
    width: 40%;
    margin-right: 100px;
    margin-top: 60px;
}
.hero h2 {
    font-size: 3rem;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
}
/*PAGINA DE CONTACTO*/

.form {
    margin-top: 80px;
    background: #c2c9ff;
    padding: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 6px 12px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 12px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 12px 16px -5px rgba(0, 0, 0, 0.75);
}
.contact-form input {
    min-width: 300px;
    margin: 10px;
    height: 1.6rem;
    border-width: .5px;
    border-style: solid;
    border-color: #ebecf5;
    border-radius: 2px;
}
.mail {
    margin-right: 1rem;
}
.contact-form button {
    height: 2.5rem;
    border-width: .5px;
    border-style: solid;
    border-color: #5266ff;
    border-radius: 2px;
    margin: 15px 0px;
    padding: 5px;
    background: #0b1247;
    color: white;
}
.contact-form button:hover {
    background: white;
    color: #0b1247;
    border-color: #0b1247;
}
/*LOGIN*/

.container-login {
    background: url(../img/hero-login.jpg);
    width: 100%;
    height: 95vh;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-login h1{
    margin-left: 30px;
    font-size: 2.3rem;
}
.container-form {
    align-items: center;
    width: 300px;
    height: 430px;
    border-width: .5px;
    border-style: solid;
    border-color: #ebecf5;
    border-radius: 10px;

}
.container-form input{
    height: 2rem;
    width: 70%;
    margin: 15px;
    margin-left: 10%;
    padding-left: 20px;
    border-radius: 2px;
    border-width: .5px;
    border-style: solid;
    border-color: #ebecf5;    
}
.container-form button{
    margin-top: 20px;
    margin-left: 10%;
    height: 30px;
    width: 85px;
    background: black;
    color: white;
    border-radius: 5px;
    border-width: .5px;
    border-style: solid;
    border-color: white;

}
.container-form button:hover{
    background: white;
    color: black;
    border-color: black;
}
@media (max-width: 968px) {
    nav {
        margin-left: 50px;
    }
    nav ul li {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .nav-list-sm {
        display: block;
        background: black position: absolute;
    }
    .user-picture-container {
        width: 100%;
        position: absolute;
        margin-top: 50px;
    }
    .user-info {
        width: 100%;
        position: relative;
        margin-top: 800px;
        padding-left: 90px;
    }
    .user-info h2 {
        font-size: 1.7rem;
    }
    .user-picture {
        height: 250px;
        width: 250px;
    }
    .user-picture:hover {
        height: 270px;
        width: 270px;
        border-width: 4px;
        border-style: solid;
        border-color: #34d183;
    }
}