body {
    font-family: 'Raleway', sans-serif;
}
.hero {
    background-image: url(../img/hero.jpg);
    height: 95vh;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
a:hover {
    color: black;
    background: white;
    font-size: 1.1rem;
    font-weight: 900;
}
nav {
    padding-left: 40px;
    background: black;
    position: fixed;
    top: 30px;
    width: auto;
    border-radius: 5px;
}
#nav-title {
    width: auto;
    color: white;
    font-family: 'Exo 2', sans-serif;
}
nav div {
    display: inline-block;
    padding-right: 40px;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 1rem;
    color: white;
    padding-top: 10px;
}
.nav-list {
    text-align: right;
    float: right;
    width: auto;
}
.user-picture {
    background-image: url(../img/usuario.jpg);
    height: 350px;
    width: 350px;
    background-position: 75%;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    margin-top: 60px;
    -webkit-box-shadow: 7px 13px 28px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 13px 28px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 13px 28px 0px rgba(0, 0, 0, 0.75)
}
.user-picture:hover {
    height: 370px;
    width: 370px;
    border-width: 4px;
    border-style: solid;
    border-color: #34d183;
    
}
.user-info {
    width: 400px;
    margin-right: 100px;
    margin-top: 60px;
}
.hero h2 {
    font-size: 3rem;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .nav-list {
        display: none;
    }
}